{{ define "main" }}
<div class="main-content">
  <!-- Sección Central -->
  <section class="title-section">
    <div class="container">
      <h1>Tornem a Casa</h1>

      <!-- =========================
      HISTORIA
      ========================= -->
      <h2>Historia</h2>
      <p>Historia de la iniciativa</p>
      <!-- =========================
      Objetivo
      ========================= -->
      <h2>Objetivo</h2>
      <p>Descripción de los objetivos</p>
      <!-- =========================
      Dinamica de trabajo
      ========================= -->
      <h2>Dinamica de trabajo</h2>
      <p>Dinamica de trabajo que hemos estado realizando</p>
      <!-- =========================
      Logros
      ========================= -->
      <h2>Nuestros Logros</h2>
      <p>A lo largo de esta iniciativa, hemos conseguido:</p>
      <!-- =========================
      Logros
      ========================= -->
      <h2>Campañas</h2>
      <p>Descripcion de las campañas</p>
    </div>
  </section>

  <!-- Logotipos -->
  <section class="logos-section">
    <div class="container">
      <h2>{{ i18n "campaigns" }}</h2>
      <div class="logos">
        <img src="{{ "/images/icons/colchon.png" | relURL }}" alt="Colchón" />
        <img src="{{ "/images/icons/deshumificador.png" | relURL }}"
        alt="Deshumidificador" /> <img src="{{ "/images/icons/lavadora.png" |
        relURL }}" alt="Lavadora" /> <img src="{{ "/images/icons/radiador.png" |
        relURL }}" alt="Radiador" />
      </div>
    </div>
  </section>
</div>
{{ end }}
