---
import CardUI from './CardCampaign.astro'
---

<div class="p-5 box-border bg-gray-200 border border-gray-300 rounded-lg shadow-md space-y-5">
    <div class="flex flex-col justify-center items-center p-5 space-y-5">
        <h1 class="text-4xl font-bold text-orange-500">Campañas Realizadas</h1>
        <div class="flex flex-wrap justify-center gap-5">
            <CardUI title="Campaña 1" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc" money_objective="1700" money="1770" imageUrl="./icons/colchon.png"/>
            <CardUI title="Campaña 2" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc" money_objective="2600" money="2700" imageUrl="./icons/lavadora.png"/>
            <CardUI title="Campaña 3" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc" money_objective="700" money="770" imageUrl="./icons/radiador.png"/>
            <CardUI title="Campaña 4" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc" money_objective="3000" money="1770" imageUrl="./icons/deshumificador.png"/>
        </div>
    </div>
</div>