---
import SectionUI from './Section.astro'
import PartnersUI from './Partners.astro'
import CampaignUI from './Campaign.astro'
import ObjectiveUI from './Objetive.astro'
import DynamicSuccessUI from './DynamicSuccess.astro'
---

<div id="container" class="bg-white text-gray-800">
	<main>
		<section id="hero">
			<section class="flex flex-col gap-6 mx-8 my-8">
				<!-- Mensaje de Cierre -->
					<div class="mb-8 bg-yellow-100 border-l-8 border-yellow-500 p-8 rounded-lg shadow-lg text-gray-900">
						<h1 class="text-6xl font-bold text-yellow-600 mb-4 text-center">
							Mensaje Cierre
						</h1>
					<p class="text-lg leading-relaxed text-center">
						Tornem a Casa ha decidido cesar sus actividades. Queremos agradecer a todos los que nos han apoyado, 
						por ellos y la transparencia que siempre hemos querido ofreceros, aquí está la información de las diferentes 
						campañas y las empresas que han colaborado.
					</p>
				</div>

				<!-- Historia -->
				<div class="bg-white p-8 rounded-lg shadow-md text-gray-800">
				<SectionUI 
					title="Nuestra Historia" 
					text="Tornem a Casa nació de un evento organizado por GuruWalk. Se hizo una llamada publica cuyo objetivo era unir mentes creativas y solidarias para desarrollar soluciones tecnológicas que pudieran ayudar a los afectados por la DANA. En aquel evento. Nos reunimos un grupo diverso de 40 personas llenas de ideas y compromiso. Con el tiempo, este equipo se transformó y, finalmente, quedamos 6 que decidimos tomar la misión de ayudar al mayor número de personas posible, trabajando con los recursos que teníamos a nuestro alcance. Tras mucho esfuerzo, logramos dar vida a este Crowdfunding que ha sido mucho más que una plataforma. Gracias a esta iniciativa, hemos conseguido ayudar a recuperar lo esencial y reconstruir sus hogares. Hoy, nuestra historia continúa siendo un testimonio de lo que se puede lograr cuando hay una causa común. ¡Gracias por ser parte de este camino!"
				>
				</SectionUI>

				<!-- Objetivos -->
				<ObjectiveUI title="Objetivos" />

				<DynamicSuccessUI class="mb-8" />

				<!-- Campañas -->
				<CampaignUI class="mb-8" />

				<!-- Partners -->
				<PartnersUI class="mb-8" />
			</section>
		</section>
	</main>
</div>
