<footer class="bottom-0 w-full bg-gray-800 text-white text-center py-4">
    <div class="flex h-24 items-center justify-between">
        <div class="flex flex-col items-center justify-center w-full">
            <img class="h-16" src="/logos/logo-white.png" alt="Tornem A Casa" />
            <p>© 2025 Tornem a Casa. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>