---
const {title} = Astro.props;
---
<div class="w-full p-8 rounded-lg overflow-hidden bg-gray-200 border border-gray-300 shadow-lg">
    <div class="mx-auto max-w-4xl lg:text-center">
        <h1 class="text-4xl font-bold text-orange-500">{title}</h1>
    </div>
    <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none">
    <div class="relative pl-9">
        <dt class="inline font-semibold text-gray-900">
        Sinergias con Empresas/Empresarios:
        </dt>
        <dd class="inline">Las Empresas han sido una parte fundamental, todos los que nos han acompañado durante este tiempo han puesto su granito de arena. Ya sea con donaciones o con descuentos en los productos adquiridos.</dd>
    </div>
    <div class="relative pl-9">
        <dt class="inline font-semibold text-gray-900">
        Integración de la fundación Iginio Giordani:
        </dt>
        <dd class="inline">Hemos conseguido llegar a un acuerdo para que ellos participen en Tornem A Casa, gestionando la parte monetaria, tributaria y pagos.</dd>
    </div>
    
    <div class="relative pl-9">
        <dt class="inline font-semibold text-gray-900">
        Donantes:
        </dt>
        <dd class="inline">Hemos recibido donaciones de XX, de las XX personas diferentes, con un Total XXXX€.</dd>
    </div>
    <div class="relative pl-9">
        <dt class="inline font-semibold text-gray-900">
        Hemos Entregado X Productos:
        </dt>
        <dd class="inline">Hemos adquirido y entregado 4x productos entre los cuales, son 10 Colchones, 20 Estufas, 10 Lavadoras y X Deshumificadores</dd>
    </div>
    <div class="relative pl-9">
        <dt class="inline font-semibold text-gray-900">
        Relacion con los Afectados:
        </dt>
        <dd class="inline">Hemos gesitonado de forma efectiva, a todos los afectados donde la escucha activa y empatia ha sido los valores a seguir.</dd>
    </div>
</dl>
</div>